/* Student solution styles */
.chat {
  display: grid;
  grid-template-rows: 1fr 200px;
  height: 100%;
}

.chat__content {
  border: 1px solid black;
  overflow-y: scroll;
}

.chat__controls {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    padding: 10px 20px;
  }
}
